<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load rango_extras %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Freman's hardcode lab">
    <meta name="author" content="Freman Zhang">
    <link rel="browser shortcut icon" href="{% static "images/favicon.ico" %}">

    <title>Rango - {% block title %}FTJ Ticket{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "bootstrap/css/dashboard.css" %}" rel="stylesheet">
    <style type="text/css"></style>
  </head>

  <body>
    <!-- Page header navigation bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/rango/">Tymphany Chorus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">About <span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'restricted' %}">Restricted Page</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'add_category' %}">New Category</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_password_change' %}">Change Password</a></li> 
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}?next=/rango/">Logout</a></li>
          <li class="nav-item">{{ user.username }}</li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'auth_login' %}"><button type="button" class="btn btn-default navbar-btn">Login</button></a></li>
        {% endif %}
        </ul>
        <form class="form-inline mt-2 mt-md-0" id="user_form" method="POST" action="{% url 'search' %}">
          {% csrf_token %}
          {% comment %} <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text"> {% endcomment %}
          <input class="form-control mr-sm-3" placeholder="Search" aria-label="Search" type="text" size="50" name="query" value="" id="query" />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
        {% block side_block %}
        {% get_category_list category%}
        {% endblock %}
        </div>
      </nav>
    
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom" style="margin:auto;">
        <div>
          {% block body_block %}{% endblock %}
        </div>
      </div>
      </div>        
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="{% static "bootstrap/js/jquery-3.js" %}"></script>
    <script src="{% static "bootstrap/js/popper.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    <script src="{% static "bootstrap/js/feather.js" %}"></script>
    <script>
        feather.replace()
    </script>    
    <!-- <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script> -->
    <script src="{% static "bootstrap/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>