{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    About
{% endblock title %}

{% block body_block %}
    <div class="page-header">
        <h1>About page<br /><small>Please enjoy yourself.</small></h1>
    </div>
    <strong>{{ aboutmessage }}. Visits: {{ visits }}</strong></body><br />
    <button onclick="alert('You clicked the button using Javascript.');">
        Click Me - I run Javascript
    </button>

    <button id="about-btn">Add O</button>
    <p>This is a example.</p>
    <p>This is another exmaple.</p>

    <div id="msg">Hello</div>

    <img width="400" height="300" src="{% static "images/pigs7.jpg" %}" alt="Picture of Pig Village" />
{% endblock body_block %}