{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    New Category
{% endblock title %}

{% block body_block %}
    <h2 class="form-signin-heading">Add a Category</h2>
    <form role="form" id="category_form", method="POST", action="/rango/add_category/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        
        {% comment %} <input type="submit", name="submit", value="Create Category" /> {% endcomment %}
        <button class="btn btn-primary" type="submit" name="submit">Create Category</button>
    </form>
{% endblock body_block %}