{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Add Page
{% endblock title %}


{% block body_block %}
    <h2 class="form-signin-heading">Add a {{ category }} Page</h2>
    <form role="form" id="add_page", method="POST" action="/rango/{{ category_name_slug }}/add_page/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        {% comment %} <input type="submit", name="submit", value="Create Page" /> {% endcomment %}
        <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
    </form> 
    <br />
    <a href="/rango/category/{{ category_name_slug }}">Back to Category</a>
{% endblock body_block %}