{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    {{ category_name }}
{% endblock %}

{% block body_block %}
    {% if category %}
    <h1>{{ category_name }}</h1>
        {% if pages %}
            {% for page in pages %}
            <ul>
                <!-- <li><a href="{{ page.url }}">{{ page.title }}</a></li> -->
                <li><a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }} - {{ page.views }} view(s)</a></li>              
            </ul>
            {% endfor %}
        {% else %}
            <strong>No page in {{ category_name }} category currently!</strong><br />
        {% endif %}

        {% if user.is_authenticated %}
            <!-- <a href="/rango/{{ category_name_slug }}/add_page/"><button class="btn btn-primary" type="submit" name="submit">Add Page</button></a> -->
            <a href="{% url 'add_page' category.slug %}"><button class="btn btn-primary" type="submit" name="submit">Add Page</button></a>
            
            <h2>Search with Rango</h2>
            <div class="row">
                <div class="panel panel-primary">
                    <form class="form-inline" id="user_form" method="post" action="{% url 'category' category.slug %}">
                        {% csrf_token %}
                        <!-- Display the search form elements here -->
                        <input class="form-control" type="text" size="50" name="query" value="" id="query" />
                        <input class="btn btn-primary" type="submit" name="submit" value="Search" />
                    </form>
        
                    <div class="panel">
                        {% if result_list %}
                            <div class="panel-heading">
                                <h3 class="panel-title">Results</h3>
                                <!-- Display search results in an ordered list -->
                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in result_list %}
                                            <div class="list-group-item" style="width:915px; height:102px; background:silver">
                                                <h4 class="list-group-item-heading" style="word-wrap:break-word; word-break:break-all;"><a href="{{ result.content_link }}">{{ result.title }}</a></h4>
                                                <p class="list-group-item-text" style="word-wrap:break-word; word-break:break-all;">Description: {{ result.description }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
            
    {% else %}
            <strong>The specified category {{ category_name }} doesn't exist!</strong><br />
    {% endif %}
    
{% endblock  %}