
<!DOCTYPE html>
{% load staticfiles %}


<html>

    <head>
        <title>Rango-FTWD-Home</title>
    </head>

    <body>
        <h1><strong> Top 5 Categories</strong></h1>
        {% comment %} Hello world! <strong>{{ boldmessage }}</strong></body><br /> {% endcomment %}
        {% if top5_categories %}
            <ul>
                {% for category in top5_categories %}
                    <li>
                        {% comment %} {{ category.name }} {% endcomment %}
                        <a href="/rango/category/{{ category.slug }}"> {{ category.name }} </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There is no category to be presented.</strong>
        {% endif %}
        <a href="/rango/about/">About</a><br />
        <img src="{% static "images/peiqi.jpg" %}" alt="Picture of Rango" />
    </body>

</html>